.redtext{color:red;}
.bluetext{color:blue;}
.greentext{color:green;}

.bigtext{font-size:24px;}
.littletext{font-size:12px;}
.centertext{text-align:center;}

.orangetext{
	font-weight:bold;
	color:orange;
	font-size:24px;}

.fontarial{font-family:Arial;}

.styledFont{
	font-style: oblique;
}

#styledImage{
    border: 1px solid black;
}